__pycache__
.idea
.history
*.net
*.prof
warp/kernels
warp.egg-info
.[v]env
.vscode
archive
*.o
*.exp
*.dll
*.lib
*.cpp.obj
*.pdb
/_build
/_repo
/_conan
/_deps
/docs/_build
/warp_lang.egg-info
exts/omni.warp/omni/warp/ogn/tests/usd
.vs/
outputs/
build/lib/
.venv/
.usd_cache/
exts/omni.warp/config/extension.gen.toml
/external/llvm-project
/build
/dist
.coverage
.cache
warp/tests/outputs

# CUTLASS repo directories we don't want to track
warp/native/cutlass/.github
warp/native/cutlass/cmake
warp/native/cutlass/docs
warp/native/cutlass/examples
warp/native/cutlass/media
warp/native/cutlass/python
warp/native/cutlass/test
warp/native/cutlass/tools/profiler
warp/native/cutlass/tools/library
