__pycache__
.idea
*.net
*.prof
warp/kernels
warp.egg-info
.vscode
archive
*.o
*.exp
*.dll
*.lib
*.cpp.obj
*.pdb
/_build
/_repo
examples/assets/.thumbs
examples/benchmark*
/docs/_build/doctrees
/docs/_build/html/_static/fonts
/nvidia_warp.egg-info
