__pycache__
.idea
.history
*.net
*.prof
warp/kernels
warp.egg-info
.vscode
archive
*.o
*.exp
*.dll
*.lib
*.cpp.obj
*.pdb
/_build
/_repo
examples/assets/.thumbs
/examples/tmp
/docs/_build/doctrees
/docs/_build/html/_static/fonts
/warp_lang.egg-info
