[package]
# Semantic Versioning is used: https://semver.org/
version = "1.2.2"
authors = ["NVIDIA"]
title = "Warp"
description="Warp OmniGraph Nodes and Sample Scenes"
readme  = "docs/README.md"
repository="https://github.com/nvidia/warp"
category = "graph"
keywords = ["kit", "omnigraph", "warp", "simulation"]
changelog="docs/CHANGELOG.md"
python.import_mode = "ParallelThread"

preview_image = "data/preview.png"
icon = "data/icon.png"

# Watch the .ogn files for hot reloading (only works for Python files)
[fswatcher.patterns]
include = ["*.ogn", "*.py"]
exclude = ["Ogn*Database.py", "*/ogn*"]

[dependencies]
"omni.graph" = {}
"omni.graph.action" = {}
"omni.graph.core" = {}
"omni.graph.nodes" = {}
"omni.graph.ui" = {optional=true}
"omni.kit.actions.core" = {}
"omni.kit.browser.sample" = {optional = true}
"omni.kit.menu.utils" = {optional = true}
"omni.kit.property.usd" = {optional = true}
"omni.kit.widget.searchfield" = {optional = true}
"omni.kit.widget.text_editor" = {optional = true}
"omni.kit.window.property" = {optional = true}
"omni.timeline" = {}
"omni.ui" = {optional = true}
"omni.usd" = {}
"omni.warp.core" = {version = "1.2.2", exact = true}

[[python.module]]
name = "omni.warp._extension"

[[python.module]]
name = "omni.warp.nodes"

[settings]
exts."omni.warp".enable_backward = false
exts."omni.warp".enable_menu = true
