/* hides the TOC caption from the main page since we already have an H1 heading */
.section .caption-text {
    display: none;
}

/* note title text in white */
.admonition p.admonition-title {
    color: white;
    font-weight: 700;
}

/* .admonition.note {
    background: #e5f4d8;
} */

/* left align tables */
table.docutils {
    margin-left: 1em;
    font-family: monospace;
}

/* inline code snippets #E74C3C, var(--color-link), #4e9a06 */
code.literal {
    color: #4e9a06;
    font-family: monospace;
    font-size: var(--font-size-normal);
}

.sidebar-brand-text {
    text-align: center;
    margin: 0 0;
}



/* normalize size across Firefox / Chrome */
html { font-size: 100%; }
